.link {
  color: var(--link-color, #403f45);
}

.link.active {
  color: var(--link-active-color, #403f45);
}

.ul {

}

.li {
  list-style: none;
}


[id] {
  scroll-margin-top: var(--scroll-margin-top, 30px);
}

/* Safari-only */
@supports (-webkit-hyphens:none) {
  [id] {
    padding-top: var(--scroll-margin-top, 30px);
    margin-top: var(--scroll-margin-top, -30px);
  }
}
